.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem;
  font-size: 1.2rem;
}

.date {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.pad {
  padding-left: 0.2rem;
  font-size: 1.3rem;
}

.year {
  font-weight: 400;
}
